body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: aliceblue;
}
#Auth {
  max-width: 400px;
}
.card {
  border-radius: 0%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-1 {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}
.card-2 {
  transform: rotate(-5deg);
  position: relative;
  top: -5px;
}
.card-3 {
  transform: rotate(10deg);
  position: relative;
  top: -10px;
}
.card-header {
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
}
.card-body p {
  font-family: 'Reenie Beanie', cursive;
  font-weight: bolder;
  font-size: 2rem;
}
.btn {
  padding: 1rem 2rem;
}
.btn-primary {
  background-color: #fff;
  color: #333;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(134, 122, 122);
  color: #fff;
}

.alert {
  color: rgb(231, 119, 119);
}
.done {
  color: rgb(97, 120, 247);
}
.bg-1 {
  background-color: lightsteelblue;
  color: #333;
}
.bg-2 {
  background-color: lightblue;
  color: #fff;
}
.bg-3 {
  background-color: #cfc;
  color: #333;
}
.bg-4 {
  background-color: rgb(72, 72, 139);
  color: #fff;
}
.bg-5 {
  background-color: rgb(21, 218, 119);
  color: #fff;
}
.impotance-1 {
  text-align: center;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
}
.impotance-2 {
  text-align: center;

  background-color: green;
  color: #fff;
  text-transform: uppercase;
}
.impotance-3 {
  text-align: center;
  background-color: yellow;
  color: #fff;
  text-transform: uppercase;
}

.card-body .dropdown button {
  background-color: transparent;
}
.card-body .dropdown button:focus {
  background-color: transparent;
}
.card-body .dropdown .dropdown-item button:hover {
  color: #333;
}
